In [3]:
i = 1
sum = 0
while i <= 100:
    if i%2 == 0:
        print(i)
        sum = sum + i
    i += 1

2
4
6
8
10
12
14
16
18
20
22
24
26
28
30
32
34
36
38
40
42
44
46
48
50
52
54
56
58
60
62
64
66
68
70
72
74
76
78
80
82
84
86
88
90
92
94
96
98
100

In [2]:
print(sum)

2550

while 문을 이용하여, i의 값이 2로 나누어 떨어지면 짝수 이므로, 이를 출력하고 모두 sum변수에 저장하여 출력하였다.